
body {
  color: grey;
}

.menu-icon svg {
  width: 1.5rem;
  height: 2rem;
}

#jumbo {
  position: relative;
  max-height: 42rem;
  overflow: hidden;
}

#stage {
  position: absolute;
}

#overtext {
  position: absolute;
  bottom: 2rem;
  color: white;
  line-height: 1rem;
}

