<footer class="site-footer">

  <div class="">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li> <span>mgmt: </span> <a href="mailto:{{ site.mgmt_email }}">{{ site.mgmt_email }}</a></li>
          <li><span>booking: </span> <a href="mailto:{{ site.booking_email }}">{{ site.booking_email }}</a></li>
          <li><span>press: </span><a href="mailto:{{ site.press_email }}">{{ site.press_email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        {% include social.html %}
      </div>

      <div class="footer-col footer-col-3">
        <p class="text">{{ site.description }}</p>
        <p> © carroll music 2015 </p>
      </div>

    </div>

  </div>

</footer>
