.sc-player {
  font: 12px Arial, sans-serif;
  color: #333;
  font-size: 1.6em;
  line-height: 1.6em;
  font-weight: bold;
  
}

.sc-player.special {
  border: 2px solid #ff3300;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 5px;
}

.sc-player a {
  text-decoration: none;
  color: #333;
}

/* scrubber */

.sc-scrubber {
  background-color: transparent;
  display: block;
}

.sc-scrubber .sc-time-span {
  background-color: #fff;
}

.sc-scrubber .sc-time-span img {
  height: 30px;
  width: 100%;
  background-color: #3f3b6c;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played {
  background-color: #fff;
  opacity: 0.4;
}

.sc-scrubber .sc-played {
  background-color: #fac4aa;
  opacity: 0.4;
}
.sc-scrubber {
  position: absolute;
  left: 45px;
  bottom: 10px;
  height: 40px;
  width: 92%;
  display: block;
}

.sc-player:hover .sc-scrubber, .sc-player.playing .sc-scrubber {
  display: block;
  left: 45px;
}

.sc-scrubber .sc-time-span{
  height: 30px;
  margin: 5px;
  position: relative;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played{
  height: 30px;
  position: absolute;
  top: 0;
  width: 0;
  -webkit-transition: width 0.1s linear;
}

.sc-scrubber .sc-time-indicators{
  position: absolute;
  right: 0;
  top: -20px;
}

/* controls */

.sc-player .sc-controls a {
  color: transparent;
  background: url('/images/player/play-main.png');
	width: 100px;
	background-size: 33px;
	background-repeat: no-repeat;
}

.sc-player .sc-controls a:hover {
  background: url('/images/player/play-hover.png');
	width: 100px;
	background-size: 33px;
	background-repeat: no-repeat;
}

.sc-player.playing .sc-controls a.sc-pause{
  background: url('/images/player/pause-main.png');
	width: 100px;
	background-size: 33px;
	background-repeat: no-repeat;
}

.sc-player.playing .sc-controls a.sc-pause:hover{
  background: url('/images/player/pause-hover.png');
	width: 100px;
	background-size: 33px;
	background-repeat: no-repeat;
}  

.sc-scrubber .sc-time-indicators{
  background: #fff;
  color: #000;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 2px;
  font-size: 0.4em;
  font-weight: normal;
  line-height: 1em;
}

/* Track info*/

body {
  font-family: 'georgia', times, serif;
  width: 1000px;
  margin: 0 auto;
}

h1 {

}

.footer {
  border-top: 1px dotted #000;
  padding: 10px 0;
  text-align: right;
}

.sc-player{
  width: 100%;
  height: 60px;
  position: relative;
  margin: 20px 0;
}

.sc-player ol, .sc-player li{
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/* Artworks */

.sc-player .sc-artwork-list{
  display: none;
}

/* controls */

.sc-player .sc-controls{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 8px;
}

.sc-player .sc-controls a{
  display: block;
  width: 40px;
  height: 40px;
}

.sc-player .sc-controls a.sc-play, .sc-player .sc-controls a.sc-pause{
  text-indent: -3000px;
}

.sc-player .sc-controls a.sc-pause{
  display: none;
}

.sc-player.playing .sc-controls a.sc-play{
  display: none;
}

.sc-player.playing .sc-controls a.sc-pause{
  display: block;
}

/* Track listings*/

.sc-player ol.sc-trackslist{
	display: none;
}

/* Track info*/

.sc-player .sc-info, .sc-info-toggle{
	display: none;

}


/* utilities */

.sc-player .hidden {
  display: none;
}

.sc-player-engine-container{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}
