<footer class="site-footer">


    <!-- <h4 class="footer-heading">{{ site.title }}</h4> -->

    <div class="pl3 pt2 pr3">
      <div class="w-50 fl">
        <ul class="f6 list pl0">
          <li> <span>mgmt: </span> <a href="mailto:{{ site.mgmt_email }}">{{ site.mgmt_email }}</a></li>
          <li><span>booking: </span> <a href="mailto:{{ site.booking_email }}">{{ site.booking_email }}</a></li>
          <li><span>press: </span><a href="mailto:{{ site.press_email }}">{{ site.press_email }}</a></li>
        </ul>
      </div>

      <div class="mw50">
        <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/267469934&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
      </div>

      <div class="f6">
        <p class="text">{{ site.description }}</p>
        <p> © carrollmusic 2015 </p>
      </div>

    </div>


</footer>
