
<footer class="f6 mt6 lh-copy bt">

  <div class="">
    <div class="">
      <ul class="list pa0">
        <li> <span>mgmt: </span> <a href="mailto:{{ site.mgmt_email }}">{{ site.mgmt_email }}</a></li>
        <li><span>booking: </span> <a href="mailto:{{ site.booking_email }}">{{ site.booking_email }}</a></li>
      </ul>
    </div>

    <div class="">
      <p class="">{{ site.description }}</p>
      <p>Philadelphia, PA // Minneapolis, MN</p>
      <p> © carrollmusic 2015 </p>
    </div>

  </div>

</footer>
