<footer class="dark-gray">

    <!-- <h4 class="footer-heading">{{ site.title }}</h4> -->

    <div class="fl pl3 pt2 pr3">
      <div class="w-50 fl">
        <ul class="f6 list pl0">
          <li> <span>mgmt: </span> <a href="mailto:{{ site.mgmt_email }}">{{ site.mgmt_email }}</a></li>
          <li><span>booking: </span> <a href="mailto:{{ site.booking_email }}">{{ site.booking_email }}</a></li>
          <li><span>press: </span><a href="mailto:{{ site.press_email }}">{{ site.press_email }}</a></li>
        </ul>
      </div>

      <div class="f6">
        <p class="text">{{ site.description }}</p>
        <p>Philadelphia</p>
        <p> © carrollmusic 2015 </p>
        <p>Let's Ride</p>
      </div>

    </div>


</footer>
