

  <!-- <ul> -->
  <!--   <li> <a href="/shows">shows</a> -->
  <!--   <li> <a href="/about">about</a> -->
  <!--   <li><a href="/sounds">sounds</a></li> -->
  <!--   <li><a href="/videos">videos</a></li> -->
  <!--   <li><a href="/contact">contact</a></li> -->
  <!--   <li><a href="/press">press</a></li> -->
  <!-- </ul> -->

<ul>

  {% assign sorted_pages = (site.pages | sort: 'title') %}

  {% for page in sorted_pages reversed  %}
    {% if page.title %}
    <li class="list pl0"><a class="" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}

</ul>
