
  <div id="!social">
    <ul class="social-media-list">

      <li>
        <a target="_blank" href="https://www.facebook.com/carrollmusic1">
          <span class="icon"><img src="/img/facebook.png" alt=""></span>
          <span>facebook</span>
        </a>
      </li>

      <li>
        <a target="_blank" href="http://instagram.com/carrollmusic">
          <span class="icon"><img src="/img/instagram.png" alt=""></span>
          <span>instagram</span>
        </a>
      </li>

      <li>
        <a target="_blank" href="http://carrollmusic.tumblr.com/">
          <span class="icon"><img src="/img/tumblr.png" alt=""></span>
          <span>tumblr</span>
        </a>
      </li>

      <li>
        <a target="_blank" href="https://soundcloud.com/carrollusa">
          <span class="icon"><img src="/img/soundcloud.png" alt=""></span>
          <span>soundcloud</span>
        </a>
      </li>

      <li>
        <a target="_blank" href="https://twitter.com/carrolltheband">
          <span class="icon"><img src="/img/twitter.png" alt=""></span>
          <span>twitter</span>
        </a>
      </li>

    </ul>
  </div>





