
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul, ol {
  margin-left: $spacing-unit;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  margin-bottom: $spacing-unit / 3;
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  letter-spacing: 1px;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    path {
      fill: $grey-color;
      }
  }
  img {
    width: 16px;
    height: 16px;
  }
}

@font-face {
  font-family: frog;
  src: url(/font/frog_book.ttf)
}

p {
  font-size: 0.95rem;
  line-height: 1.4rem;
}

.about p {
  box-sizing: border-box;
  width: 50%;
  // float: left;
  // padding-right: $spacing-unit;
  padding-top: $spacing-unit * 2;
  padding-right: 2rem;
  margin-bottom: 0;
}

