<div class="wrapper">
  <div id='player_box'>	
  	<img id='carroll_text' src="images/text/CARROLL.png" alt="CARROLL">
  	<a href="https://soundcloud.com/carrollmusic-1/sticks" class="sc-player"></a>
  	<div class="fb-like" data-href="http://www.facebook.com/carrollmusic1" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>		
    <div class='social'>
      <a class='whitebox boxsize4' href='https://www.facebook.com/carrollmusic1' target='_blank'>Facebook</a>
      <a class='whitebox boxsize4' href="https://twitter.com/CarrollMPLS" target='_blank'>Twitter</a>
      <a class='whitebox boxsize4' href="https://soundcloud.com/carrollmusic-1" target='_blank'>Soundcloud</a>
      <a class='whitebox boxsize4' href='http://www.youtube.com/user/CarrollMusicMPLS' target='_blank'>Youtube</a>
    </div>
    <div class='nav'>
      <!-- <a class='whitebox boxsize2' href="/pastshows"> past shows </a> -->
  	  <!-- <a class='whitebox boxsize2' href="/bands"> bands we've played with </a> -->
    </div>
  </div>
	<div class='track'>
    <section class='dl-link'>
      <h1>
        <a target="_blank" href="http://carroll.bandcamp.com/">DOWNLOAD NEEDS HERE!</a>
      </h1>
    </section>
  	<section class='shows panel'>
  	  <h1> Upcoming Shows </h1>
  	  <table>
        <tbody>
          <tr>
            <td>When: </td>
            <td>Where: </td>
            <td>With: </td>
          </tr>		       
          
  	     <tr>
          <td> 02/20 </td> 
          <td> The Empty Bottle, Chicago </td>
          <td>
            <a target='_blank' href="http://www.howlerband.com/">Jordan Gatesmith,</a>
            <a target='_blank' href="http://www.strangenamesmusic.com/">Strange Names,</a>
            <a target='_blank' href="http://pitchfork.com/reviews/albums/17558-torres/">Torres</a>
          </td>
         </tr>
          <tr>
            <td> 02/21 </td> 
            <td> The Cedar Cultural Center </td>
            <td>
              <a target='_blank' href="http://badbadhats.com/">Bad Bad Hats</a>
            </td>
         </tr>
          </tbody>
      	</table> 
  	</section>
	<section class='press panel'>
	 <h1> Press </h1>
	 <div class='press_item'>
	   <p class='press_words'> "Lead Balloon” is really good. It’s nothing revolutionary, but in a time when music seems to be getting weirder just for the sake of being weird (and getting accolades even if it doesn’t sound all that great), Carroll is fresh, young, impeccably constructed and a good instance of the dream pop enveloping the Twin Cities right now. Sometimes all you need is a tight ensemble and the know-how in making a lasting melody and you’re set. Carroll have got it."</p>
	   <span class='press_who'> - The Local Current</span>
	 </div>
	</section>
	<section class='contact panel'>
	  <h1> you can contact us at: </h1>
	  <a href='mailto:booking@carrollmusic.net' target='_blank'>booking@carrollmusic.net</a>
	</section>
<!-- END TRACK SECTION -->
</div>
 <div class='hand_wrapper'>
    <img class='plax1' data-stellar-ratio="-0.2"   src="images/hand/hand-piece1.png" >
    <img class='plax2' data-stellar-ratio="-0.3" src="images/hand/hand-piece2.png" >
    <img class='plax3' data-stellar-ratio="-0.4"   src="images/hand/hand-piece3.png" >
    <img class='plax4' data-stellar-ratio="-0.5"   src="images/hand/hand-piece4.png" >
  </div>
  <script src="javascripts/hands2.js" type="text/javascript" charset="utf-8"></script>
</div>