

<section class='press'>

<a target='_blank' href='http://www.tinymixtapes.com/chocolate-grinder/premiere-carroll-lead-balloon' target='_blank'> Tiny Mix Tapes </a>

<a target='_blank' href='http://www.imposemagazine.com/tv/carroll-billionaire-video'> Impose Magazine </a>

<a target='_blank' href='http://blogs.citypages.com/gimmenoise/2013/02/carrolls_brian_hurlow_interview.php'> City Pages (MPLS) </a>

<a target='_blank' href='http://blogs.citypages.com/gimmenoise/2013/02/top_14_twin_cities_college_bands_you_need_to_hear.php?page=3 (#1 on this list)'> City Pages (MPLS) </a>

<a target='_blank' href='http://blogs.citypages.com/gimmenoise/2013/03/top_10_must_see_minnesota_music_videos_this_week_local_frames.php?page=2'> The Star Tribune </a>

 <a target='_blank' href='http://www.startribune.com/entertainment/blogs/194894101.html'> The Star Tribune </a>
 <a target='_blank' href='http://www.vita.mn/crawl/194694741.html'> Vita.mn </a>
 <a target='_blank' href='http://www.thecurrent.org/feature/2013/02/27/carroll-live'> The Current (Minnesota Public Radio):</a>
 <a target='_blank' href='http://blog.thecurrent.org/2013/02/carroll-on-billionaires-girls-and-amateur-theatre/'> The Current (Minnesota Public Radio):</a>
 <a target='_blank' href='http://www.indiemusicalbumreviews.com/1/post/2013/03/carroll-needs.html'> Indie Music Album Reviews: </a>
 <a target='_blank' href='http://hypem.com/artist/Carroll'> Hype Machine</a>
 <a target='_blank' href='http://www.soundsbetterwithreverb.com/rock/carroll-sticks/'> Sounds Better With Reverb</a>
 <a target='_blank' href='http://www.obscuresound.com/2012/11/mp3-carroll-sticks/'> Obscure Sound</a>
 <a target='_blank' href='http://www.radiok.org/instudios/carroll/'> Radio K (University of Minnesota)</a>
 <a target='_blank' href='http://whatsprotocol.com/2012/11/im-losing-every-battle-that-i-fight/'> What’s Protocol?</a>
 <a target='_blank' href='http://kindness.ravenandcrowstudio.com/2013/01/the-song-carroll.html'> Kindness of Ravens</a>
 <a target='_blank' href='http://vintagebear.net/carroll-needs-review/'> Vintage Bear LLC</a>
 <a target='_blank' href='http://www.decireves.com/2013/01/cancion-del-dia-carroll-lead-balloon.html'> Decireves</a>
 <a target='_blank' href='http://www.indiehere.com/2012/10/carroll.html'> Indie Here</a>
 <a target='_blank' href='http://planetapopradio.blogspot.com/2012/10/carroll.html'> Planeta Pop</a>
 <a target='_blank' href='http://hangout.altsounds.com/news/155695-carroll-premired-tiny-mix-tapes.html'> Alt Sounds</a>
 <a target='_blank' href='http://www.ellenwood-ep.com/2013/02/videos/22962/'> ellenwood</a>
 <a target='_blank' href='http://letajiciryba.blogspot.com/2012/11/mp3-carroll-sticks.html '> Letajici Ryba</a>
 <a target='_blank' href='http://netlabellife.blogspot.com/2013/02/carroll-needs-self-released.html'> Net Music Life</a>
 <a target='_blank' href='http://musicthatisntbad.org/2013/03/10/local-artist-of-the-week-carroll/'> Music That Isn’t Bad</a>
 <a target='_blank' href='http://indietoday.net/?p=605'> Indie Today </a>
 <a target='_blank' href='http://1146miles.com/music/carroll-lead-balloon/'> 1146 Mile</a>

</section>








